body, select, input, button {
  font-family: droid sans mono,consolas,monospace,courier new,courier,sans-serif;
}
body {	
  margin: 0;
}
form {
  display: none;
  margin: 0 auto;
  width: 1000px;
}
label {
  font-size: 0.8em;
}
em {
  font-weight: bold;
  font-style: normal;
  background-color: #3883fa;
}
.group {
  display: inline-block;
}
.ui-widget {
  font-size: 0.8em;
}
.documents {
  width:95%;
  margin: 0 auto;
  border-width: 2px;
  border-style: solid;
  border-color: #3883fa;
  border-collapse: collapse;
}
.head {
  border-width: 1px;
  padding: 4px;
  border-style: solid;
  border-color: #3883fa;
  background-color: #96bdfa;
  font-size: 0.8em
}
.cell {
  border-width: 1px;
  padding: 4px;
  border-style: solid;
  border-color: #3883fa;
  font-size: 0.8em
}
.tr-hover {
  background-color: #bbd4fa;
  cursor: pointer;
}
.edit {
	float: right;
	margin-left: 5px;
}
#popup { 
  background-color:#fff;
  color:#000;
  display:none; 
  padding:20px;
  min-width:800px;
  min-height:100px;
}
#top {
  position:fixed;
  background:#bbd4fa;
  width:100%;
  padding: 5px;
}
#login {
  float: right;
  margin-right: 10px;
}
div.jsoneditor-menu a {
  color: #3883fa;
}
